body {
    font-family: 'NexonLv1Gothic';
}

/* Section */

    .s1 {
        /* background: url('../image/background/bg_01.jpg');
        background-position: center center;
        background-size: cover; */
        background-color: #70E8A0;
    }

    .s2 {
        /* background: url('../image/background/bg_02.jpg');
        background-position: center center;
        background-size: cover; */
        background-color: #70E8A0;
    }
    
    .s3 {
        /* background: url('../image/background/bg_03.jpg');
        background-position: center center;
        background-size: cover; */
        background-color: #70E8A0;
    }

    .service_info_s3 .rightWrap {
        background: url('../image/background/bg_06.png');
        background-position: center center;
        background-size: cover;
    }


    .s4 {
        background-color: rgb(56, 56, 56);
        padding: 3em 0;
    }

    .service_area_s1 {
        /* background: url('../image/background/bg_03.jpg');
        background-position: center center;
        background-size: cover; */
        /* background-color: #70E8A0; */
        background-color: white;
    }
    
    .s6 {
        /* background: url('../image/background/bg_03.jpg');
        background-position: center center;
        background-size: cover; */
        /* background-color: #70E8A0; */
        background-color: rgb(212, 212, 212);
    }

/* h Font Reset */
    h1 {font-size: 4em; margin: 0.4em 0;}
    h2 {font-size: 2.5em; margin: 0.25em 0;}
    h3 {font-size: 1.5em; margin: 0.15em 0;}
    .center {text-align: center;}
    .fWhite {color: white;}
    .fBlack {color: black;}
    .fDarkGray {color: rgb(46, 46, 46)}
    .fLightGray {color: rgb(117, 117, 117)}

/* Wrapper Test Background Color */
    /* .wrapper {background-color: salmon;}
    .leftWrap {background-color: antiquewhite;}
        .titleWrap {background-color: blueviolet;}
    .rightWrap {background-color: burlywood;} */

/* Wrapper */
    .wrapper {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }

/* left */
    .leftWrap {
        width: 54%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        float: left;
        /* 반응형: width: 100% height: 30% */
    }

    /* left Title */
        .leftWrap .titleWrap {
            width: 100%;
            margin: auto 0;
            display: block;
        }

/* right */
    .rightWrap {
        width: 46%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        float: right;
        text-align: right;
        align-items: end;
    }

    /* section s1, s2 > charactor */
        .s1 div.circle {
            width: 600px;
            height: 600px;
            background-color: white;
            border-radius: 100%;
            position: absolute;
            z-index: 3;
            margin-bottom: 4em;
            margin-left: 2.5em;
        }

        .s1 div.charactor {
            width: 680px;
            height: 680px;
            background: url('../image/simbol/deliveryGoose_simbol_vest.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            animation-name: box_ani;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            position: absolute;
            right: 85px;
            top: 23%;
            z-index: 4;
        }

        @keyframes box_ani {
            from {
                margin-top: 0;
            }
            to {
                margin-top: 15px;
            }
        }

    /* section s2 */
        .s2 .wrapper {
            padding-top: 130px;
            text-align: center;
        }
        .s2 .wrapper .titleWrap {
            margin-bottom: 20px;
        }
        .s2 .wrapper .titleWrap h1 {
            margin: 0.1em 0;
        }
        .s2 .wrapper .iconWrap {
            padding: 0 10em;
        }
        .s2 .wrapper .iconWrap .iconContents {
            display: inline-block;
        }
        .s2 .wrapper .iconWrap .iconContents img {
            width: 12em;
            height: auto;
            margin: 1em 3em 0 3em;
        }
        
    /* section service_info_s1 - 서비스 소개 */
        .service_info_s1 {
            background: url('../image/background/bg_04.png');
            background-position: center center;
            background-size: cover;
        }

    /* section service_info_s2 - 서비스 소개 */
    
        .service_info_s2 .wrapper {
            padding-top: 130px;
            text-align: center;
        }
        .service_info_s2 .wrapper .titleWrap {
            margin-bottom: 20px;
        }
        .service_info_s2 .wrapper .titleWrap h1 {
            margin: 0.1em 0;
        }
        .service_info_s2 .wrapper .titleWrap h1:last-of-type {
            margin: 0.1em 0 0.5em 0;
        }
        .service_info_s2 .wrapper .titleWrap h3:nth-of-type(2) {
            margin-top: 1em;
        }
        .service_info_s2 .wrapper .iconWrap {
            padding: 50px 20% 0 20%;
        }
        .service_info_s2 .wrapper .iconWrap table {
            width: 100%;
        }
        .service_info_s2 .wrapper .iconWrap table,
        .service_info_s2 .wrapper .iconWrap table td {
            border-collapse: collapse;
        }
        .service_info_s2 .wrapper .iconWrap table td {
            border-bottom: 1px solid #70E8A0;
        }
        .service_info_s2 .wrapper .iconWrap table td:first-of-type {
            text-align: center;
        }
        .service_info_s2 .wrapper .iconWrap table td:nth-of-type(2) {
            text-align: left;
            padding-left: 20px;
        }
        .service_info_s2 .wrapper .iconWrap table td img {
            margin: 20px 0;
        }
        .service_info_s2 .wrapper .iconWrap table td h2 {
            margin-bottom: 20px;
        }
        .service_info_s2 .wrapper .iconWrap table tr td:first-of-type {
            width: 25%;
        }
        .service_info_s2 .wrapper .iconWrap table tr:nth-of-type(5) td:last-of-type h3:last-of-type,
        .service_info_s2 .wrapper .iconWrap table tr:nth-of-type(6) td:last-of-type h3:last-of-type {
            font-size: 0.8em;
        }

    /* section service_info_s3 - 서비스 소개 */
        .service_info_s3 .wrapper .titleWrap h1 {
            margin: 0.1em 0;
        }
        .service_info_s3 .wrapper .titleWrap h1:last-of-type {
            margin: 0.1em 0 1em 0;
        }
        .service_info_s3 .wrapper .titleWrap h3:nth-of-type(2) {
            margin-bottom: 1.2em;
        }

    /* section service_info_s4 - 서비스 소개 */
        .service_info_s4 {
            background: url('../image/background/bg_05.png');
            background-position: center center;
            background-size: cover;
        }
        .service_info_s4 .wrapper .rightWrap {
            align-items: center;
        }
        .service_info_s4 .wrapper .titleWrap h1 {
            margin: 0.1em 0;
        }
        .service_info_s4 .wrapper .titleWrap h1:last-of-type {
            margin: 0.1em 0 1em 0;
        }
        .service_info_s4 .wrapper .titleWrap h3:nth-of-type(2) {
            margin-bottom: 1.2em;
        }.service_info_s4 .wrapper .titleWrap h3:last-of-type {
            font-size: 0.9em;
        }

    /* section service_area_s1 - 서비스 지역*/

        .service_area_s1 h1, .service_area_s1 h2, .service_area_s1 h3 {color: black}
    
        .service_area_s1 .leftWrap .titleWrap h1 {margin-bottom: 1em;}
        .service_area_s1 .leftWrap .titleWrap h2:last-of-type {margin-bottom: 0.5em;}
        .service_area_s1 .leftWrap .titleWrap h3:last-of-type {margin-bottom: 10em;}

        .service_area_s1 .rightWrap .map {
            background: url('../image/simbol/deliveryGoose_service_map.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            /* background-color: black; */
            width: 800px;
            height: 800px;
        }

        .service_area_s1 .rightWrap .bike {
            background: url('../image/simbol/deliveryGoose_simbol_bike.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;

            width: 450px;
            height: 450px;

            position: absolute;
            right: 600px;
            top: 50%;
            
            animation-name: box_ani;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

    /* section faq_s1 : FAQ */    
    .faq_s1 {
        background-color: #ccc;
    }
    .faq_s1 .wrapper {
        padding-top: 130px;
        text-align: center;
    }
    .faq_s1 .wrapper .titleWrap {
        margin-bottom: 20px;
    }
    .faq_s1 .wrapper .titleWrap h1 {
        margin: 0.1em 0;
    }
    .faq_s1 .wrapper .titleWrap h1:last-of-type {
        margin: 0.1em 0 0.5em 0;
    }
    .faq_s1 .wrapper .titleWrap h3:nth-of-type(2) {
        margin-top: 1em;
    }
    .faq_s1 .wrapper .iconWrap {
        padding: 50px 20% 100px 20%;
    }
    .faq_s1 .wrapper .iconWrap table {
        width: 100%;
    }
    .faq_s1 .wrapper .iconWrap table,
    .faq_s1 .wrapper .iconWrap table td {
        border-collapse: collapse;
    }
    .faq_s1 .wrapper .iconWrap table td {
        border-bottom: 1px solid #494949;
        padding: 2em 0;
    }
    .faq_s1 .wrapper .iconWrap table td:first-of-type {
        border-top: 1px solid #494949;
        text-align: left;
    }
    .faq_s1 .wrapper .iconWrap table td:nth-of-type(2) {
        text-align: left;
        padding-left: 20px;
    }
    .faq_s1 .wrapper .iconWrap table td h3 {
        line-height: 1.5em;
    }
    .faq_s1 .wrapper .iconWrap table td .fLightGray {
        font-size: 1.3em;
        font-weight: 500;
    }
    .faq_s1 .wrapper .iconWrap table tr td:first-of-type {
        width: 25%;
    }