body {
    font-family: 'NexonLv1Gothic';
}

/* Section */

    .service_info_s3 .rightWrap {
        background: url('../image/background/bg_06.png');
        background-position: center center;
        background-size: cover;
    }


    .s4 {
        background-color: rgb(56, 56, 56);
        padding: 3em 0;
    }

    .service_area_s1 {
        /* background: url('../image/background/bg_03.jpg');
        background-position: center center;
        background-size: cover; */
        /* background-color: #70E8A0; */
        background-color: white;
    }
    
    .s6 {
        /* background: url('../image/background/bg_03.jpg');
        background-position: center center;
        background-size: cover; */
        /* background-color: #70E8A0; */
        background-color: rgb(212, 212, 212);
    }

/* Font effect */
    /* h */
    h1 {font-size: 4em; margin: 0.4em 0;}
    h2 {font-size: 2.5em; margin: 0.25em 0;}
    h3 {font-size: 1.5em; margin: 0.15em 0;}
    /* color */
    .center {text-align: center;}
    .fWhite {color: white;}
    .fBlack {color: black;}
    .fDarkGray {color: rgb(46, 46, 46)}
    .fLightGray {color: rgb(117, 117, 117)}
    /* weight */
    .fw_100 {font-weight: 100;}
    .fw_200 {font-weight: 200;}
    .fw_300 {font-weight: 300;}
    .fw_400 {font-weight: 400;}
    .fw_500 {font-weight: 500;}
    .fw_600 {font-weight: 600;}
    .fw_700 {font-weight: 700;}
    .fw_800 {font-weight: 800;}
    .fw_900 {font-weight: 900;}

/* Wrapper Test Background Color */
    /* .wrapper {background-color: salmon;}
    .leftWrap {background-color: antiquewhite;}
        .titleWrap {background-color: blueviolet;}
    .rightWrap {background-color: burlywood;} */

/* Wrapper */
    .wrapper {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }

/* left */
    .leftWrap {
        width: 54%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        float: left;
        /* 반응형: width: 100% height: 30% */
    }

    /* left Title */
        .leftWrap .titleWrap {
            width: 100%;
            margin: auto 0;
            display: block;
        }

/* right */
    .rightWrap {
        width: 46%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        float: right;
        text-align: right;
        align-items: end;
    }