/* section service_area_s1 - 서비스 지역*/

.service_area_s1,
.service_area_s2 {
    /* background: url('../image/background/bg_02.jpg');
    background-position: center center;
    background-size: cover; */
    background-color: white;
}


.service_area_s1 .wrapper .leftWrap {
    width: 100%;
}

.service_area_s1 h1,
.service_area_s1 h2,
.service_area_s1 h3 {
    color: black;
}    
.service_area_s1 h1 {
    margin-bottom: 1em;
}
.service_area_s1 h2:last-of-type {
    margin-bottom: 0.5em;
}
.service_area_s1 h3 {
    font-size: 1em;
    font-weight: 400;
    color: #ff3300;
}


/* section service_area_s2 - 서비스 지역*/
.service_area_s2 .map {
    background: url('../image/simbol/deliveryGoose_service_map.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 100%;
    height: 100%;
}

.service_area_s2 .bike {
    background: url('../image/simbol/deliveryGoose_simbol_bike.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 500px;
    height: 500px;

    position: absolute;
    right: 850px;
    bottom: 20px;
}


@media screen and (max-width: 1440px) and (min-width: 601px) {
    .service_area_s1 h1 {font-size: 3.5em;}
    .service_area_s1 h2 {font-size: 2em;}
    .service_area_s1 h3 {font-size: 0.8em;}
}

@media screen and (max-width: 600px) {
    .service_area_s1 h1 {font-size: 2.5em;}
    .service_area_s1 h2 {font-size: 1.5em;}
    .service_area_s1 h3 {font-size: 0.2em;}
}