/* index_s1 */

.index_s1 {
    /* background: url('../image/background/bg_01.jpg');
    background-position: center center;
    background-size: cover; */
    background-color: #70E8A0;
}

.index_s1 h1 {font-size: 3.6em;}
.index_s1 h2 {font-size: 2.1em;}
.index_s1 h2:last-of-type {margin-bottom: 1.2em;}

.index_s1 .wrapper .leftWrap .titleWrap {
    z-index: 10;
}

.index_s1 div.circle {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    margin-bottom: 4em;
    margin-left: 2.5em;
    z-index: 3;
}

.index_s1 div.charactor {
    width: 680px;
    height: 680px;
    background: url('../image/simbol/deliveryGoose_simbol_vest.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: box_ani;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    right: 85px;
    top: 23%;
    z-index: 4;
}

@keyframes box_ani {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
}



/* index_s2 */

.index_s2 {
    /* background: url('../image/background/bg_03.jpg');
    background-position: center center;
    background-size: cover; */
    background-color: #70E8A0;
}
.index_s2 h1 {
    margin: 0.1em 0;
    font-size: 3.6em;
}
.index_s2 h1:last-of-type {
    margin-bottom: 1.3em;
}
.index_s2 h2 {
    font-size: 1.6em;
}
.index_s2 h2:last-of-type {
    margin-bottom: 1.3em;
}
.index_s2 h3 {
    font-size: 1em;
}



/* index_s3 */

.index_s3 {
    /* background: url('../image/background/bg_02.jpg');
    background-position: center center;
    background-size: cover; */
    background-color: #70E8A0;
}

.index_s3 h1 {
    font-size: 3.6em;
}
.index_s3 h2 {
    font-size: 2.0em;
    margin-bottom: 1em;;
}
.index_s3 h3 {
    font-size: 1.3em;
    /* font-weight: 400; */
}

.index_s3 .wrapper {
    padding-top: 130px;
    text-align: center;
}
.index_s3 .wrapper .titleWrap {
    margin-bottom: 20px;
}
.index_s3 .wrapper .titleWrap h1 {
    margin: 0.1em 0;
}
.index_s3 .wrapper .iconWrap {
    padding: 3em 10em 0 10em;
}
.index_s3 .wrapper .iconWrap .iconContents {
    display: inline-block;
}
.index_s3 .wrapper .iconWrap .iconContents img {
    width: 9em;
    height: auto;
    margin: 1em 3em 0 3em;
}