/* section service_area_s1 - 서비스 지역*/

.service_area_s1 h1, .service_area_s1 h2, .service_area_s1 h3 {color: black}
    
.service_area_s1 .leftWrap .titleWrap h1 {margin-bottom: 1em;}
.service_area_s1 .leftWrap .titleWrap h2:last-of-type {margin-bottom: 0.5em;}
.service_area_s1 .leftWrap .titleWrap h3:last-of-type {margin-bottom: 10em;}

.service_area_s1 .rightWrap .map {
    background: url('../image/simbol/deliveryGoose_service_map.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: black; */
    width: 800px;
    height: 800px;
}

.service_area_s1 .rightWrap .bike {
    background: url('../image/simbol/deliveryGoose_simbol_bike.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    width: 450px;
    height: 450px;

    position: absolute;
    right: 600px;
    top: 50%;
    
    animation-name: box_ani;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}