@media screen and (max-width: 1440px) and (min-width: 601px) {
    .faq_s1 .wrapper .titleWrap h1:last-of-type {margin-bottom: 0.1em;}
    .faq_s1 .wrapper .iconWrap {padding: 50px 15% 100px 15%;}
    .faq_s1 .wrapper .iconWrap table td h3.fDarkGray {font-size: 1.5em; margin-bottom: 0.7em;}
    .faq_s1 .wrapper .iconWrap table td h3.fLightGray {font-size: 1.3em;}
}

@media screen and (max-width: 600px) {
    .faq_s1 .wrapper {padding-top: 80px;}
    .faq_s1 .wrapper .titleWrap h1:last-of-type {margin-bottom: 0.1em;}
    .faq_s1 .wrapper .iconWrap {padding: 15px 10% 100px 10%;}
    .faq_s1 .wrapper .iconWrap table td h3.fDarkGray {font-size: 1.3em; margin-bottom: 0.5em;}
    .faq_s1 .wrapper .iconWrap table td h3.fLightGray {font-size: 1.1em;}
}