@font-face {
    src: url(../../fonts/NotoSansKR-Regular.otf);
    font-family: "NotoSansKR";
}


body {
    font-family: 'NotoSansKR';
}

div#fullpage {
    z-index: 1;
}

/* h font reset */
    h1 {font-size: 4em; margin: 0.4em 0;}
    h2 {font-size: 2.5em; margin: 0.25em 0;}



/* Section */

    .s1 {
        background-color: #70E8A0;
    }

    .s2 {
        background-color: #70E8A0;
    }

    .s3 {
        background-color: #70E8A0;
    }

    /* wrapper */
        .wrapper {
            width: 100%;
            max-width: 1440px;
            height: 100%;
            box-sizing: border-box;
            background-color: salmon;
            margin: 0 auto;
        }

        /* left */
            .leftWrap {
                width: 54%;
                height: 100%;
                box-sizing: border-box;
                background-color: antiquewhite;
                display: flex;
                float: left;
                /* 반응형: width: 100% height: 30% */
            }

            /* left Title */
                .titleWrap {
                    width: 100%;
                    background-color: blueviolet;
                    margin: auto;
                }
        
        /* right */
            .rightWrap {
                width: 46%;
                height: 100%;
                box-sizing: border-box;
                background-color: burlywood;
                display: flex;
                float: right;
                text-align: right;
                align-items: end;
                padding-bottom: 1%;
            }

            /* section s1 > charactor */
                .s1 div.charactor {
                    width: 700px;
                    height: 700px;
                    background: url('../image/simbol/deliveryGoose_simbol_yellowbike.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    /* background-color: salmon; */
                    animation-name: box_ani;
                    animation-duration: 0.5s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: ease-in-out;
                    position: absolute;
                    top: 25%;
                    z-index: 4;
                }

                .s1 div.circle {
                    width: 610px;
                    height: 610px;
                    background-color: white;
                    border-radius: 100%;
                    z-index: 3;
                }

                @keyframes box_ani {
                    from {
                        margin-top: 0;
                    }
                    to {
                        margin-top: 15px;
                    }
                }

    /* Section > Title */

        


    /* Section > Title (Mobile) */
    
        @media screen and (max-width: 1024px) and (min-width: 601px) {
            h1 {
                font-size: 3.5em;
            }
            h2 {
                font-size: 2em;
            }
            .titleWrap {
                padding-left: 2em;
            }
        }

        @media screen and (max-width: 600px) {
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
            }
            .pleft-h1 {
                padding-left: 0.5em;;
            }
            .titleWrap {
                padding-left: 2em;
            }
        }